// global settings

* {
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html {
  scroll-behavior: smooth;
}

// hide arrows in input number
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// scale up little checkbox
input[type=checkbox] {
  transform: scale(2);
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}


[transition="in:circle:hesitate"] {
  --transition__duration: .5s;
}