@import './style-components/colors-and-layouts/colors-and-layouts.scss';
@import './style-components/animations/keyframes.scss';

// account.tsx styles

.accountSection {
  width: 100%;
  background: url('../photos/accountBG.jpg') fixed center;
  min-height: 92vh;
  --transition__duration: .5s;

  h2 {
    color: #fff;
    font-size: 90%;
  }

  button {
    width: 86px;
    padding: 8px 0;
    @include flex-centered;
    background-color: rgba(0,0,0, 0.2);
    color: #fff;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 10px 10px rgba(0,0,0, 0.6);
    }
  }

  header {
    // background: #603bbb;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;

    .header__btnsHolder {
      @include flex-centered;
      gap: 10px;

      button {
        width: 125px;
        height: 4vh;
        font-size: 80%;
      }
    }
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;

    button {

      &:hover {
        box-shadow: 0px 10px 10px rgba(0,0,0, 0.6);
      }
    }

    .blocksHolder {
      width: 90vw;
      min-height: 82vh;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5%;
      margin-top: 20px;
      margin-bottom: 20px;

      .infoBlock {
        width: 90%;
        min-height: 70vh;
        background-color: rgba(255, 255, 255, 0.2);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .profileInformation {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 80%;
          height: 90%;
          position: relative;
  
          h2 {
            color: #fff;
            font-size: 26px;
            margin-bottom: 20px;
            margin-top: 20px;
          }

          form {
            width: 100%;

            input {
              color: white !important;
            }
  
            button {
              margin-top: 10px;
              width: 100%;
              margin-bottom: 10px;
            }
          }
        }
      }

      .ordersHistoryBlock {
        width: 90%;
        height: 70vh;
        background-color: rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: center;
        overflow-y: auto;
        

        .ordersHistory {
          gap: 20px;
          max-width: 90%;
          height: auto;
          text-align: center;
          
          
          h2 {
            color: #fff;
            font-size: 26px;
            margin-top: 40px;
            margin-bottom: 20px;
          }

          .loader {
            display: inline-block;
            transform: translateZ(1px);
            margin-top: 30vh;

            .loaderInnerDiv {
              display: inline-block;
              width: 64px;
              height: 64px;
              margin: 8px;
              border-radius: 50%;
              background: #fff;
              animation: loader 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
            }
          }
        }
      }
    }
  } 
}

@media screen and (max-width: 700px) {
  .blocksHolder {
    flex-direction: column;

    .infoBlock {
      margin-bottom: 20px;
      width: 90vw;
    }

    .ordersHistoryBlock {
      width: 90vw;
    }
  }

  .accountSection {

    h2{
      text-align: center;
    }

    header {
      display: block;
      height: auto;
      padding: 10px 0px;

      .header__btnsHolder {

        button {
          margin-top: 12px;
          padding: 12px 0;
        }
      }      
    }
  }
}

@media screen and (max-width: 432px) {
  .accountSection {

    header {

      .header__btnsHolder {
        max-width: 95%;
        margin: auto;
        gap: 5px;

        button {
          width: 150px;
        }
      } 
    }
  }
}

@keyframes loader {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}