@import './style-components/colors-and-layouts/colors-and-layouts.scss';


// navbar nav.tsx //

.mainNavBar { 
    background-color: slateblue;
    list-style: none;
    position: sticky;
    top: 0;
    z-index: 9999;
    white-space: nowrap;
    width: 100vw;
  
    .preResize {
      display: flex;
      align-items: center;
      justify-content: space-around;
      max-width: 100vw;
      min-height: 12vh;
  
      .nav_links {
        width: 40%;
        @include flex-center-spaceBetween;
      }      
    
      .linkHolder {
        text-decoration: none;
        list-style: none;
        color: white;
        @include flex-center-spaceBetween;
        margin-right: .5rem;
        padding: 8px 12px;
        position: relative;

        &:after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          right: 98%;
          bottom: 0;
          background-color: rgba(128, 28, 33, 0.4);
          transition: all .25s ease;
          transform-origin: left;
          border-radius: 10px;
        }
  
        .foot-prints-icon {
          margin-right: 10px;
          color: black;
        }

        &:hover {
          &:after {
            right: 0;
          }
        }
    
        li {
          display: flex;
          align-items: center;
          width: auto;
    
          .preAnimationCartSpan {
            @include flex-centered;
          }
    
          .itemsInCartNumber{
            @include flex-centered;
            animation: paintRed 2s ease-out;
          }
        }
    
        .icon {
          max-height: 2.5vh;
          margin-right: .5rem;
        }
      }
    
      .navToggle {
        display: none;
        height: 30px;
        cursor: pointer;
  
        &:hover {
          border: 1px solid transparent;
        }
      }
    }
  
    .afterResize {
      display: none;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.2);
      height: 92vh;
      width: 100%;
      --transition__duration: 1.5s;
      
      .nav_links {
        width: 80vw;
        display: flex;
        align-content: center;
        justify-content: space-around;
        border-top: 1px solid rgba(180, 61, 67, 0.8);
        padding-top: 15px;
        padding-bottom: 15px;
  
        .linkHolder {
          text-decoration: none;
          list-style: none;
          color: white;
          text-align: center;
          padding: 8px 9px;
          position: relative;

          &:after {
            position: absolute;
            content: '';
            top: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(128, 28, 33, 0.4);
            transition: all .25s ease;
            border-radius: 50%;
          }

          &:hover {
            &:after {
              top: 0;
            }
          }
      
          li {
            display: flex;
            align-items: center;
            width: auto;
      
            .preAnimationCartSpan {
              @include flex-centered;
            }
      
            .itemsInCartNumber{
              @include flex-centered;
              animation: paintRed 2s ease-out;
            }
          }
      
          .icon {
            max-height: 2.5vh;
          }
        }

        .cartLink {
          padding: 8px 0px;
        }
      }
    }
  }
  
  @media only screen and (max-width: 650px) {
    .mainNavBar {
  
      .preResize {
        justify-content: space-between;
        margin: auto;
        width: 80vw;
  
        .navToggle{
          display: block;
        }
        .nav_links {
          display: none;
        }
      }
  
      .navToggle {
        margin-right: 10px;
      }
  
      .afterResize{
        display: flex;
      }
  
      h3 {
        margin-left: .5rem;
      }
    } 
  }