@import './style-components/colors-and-layouts/colors-and-layouts.scss';

// login panel login.tsx

.loginSection {
    width: 100%;
    height: 92vh;
    padding: 0 20px;
    background: #e9e9e9;
    display: flex;
    background: $primaryLayout;

  .loginContainer {
      padding: 60px;
      margin: auto;
      width: 100%;
      max-width: 520px;
      min-height: 65vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: $primaryLayout;
      box-shadow: $primaryShadow;

      .facebookLoginContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        .facebookBtnContainer {
          display: flex;
          justify-content: space-around;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.2);
          width: 100%;
          cursor: pointer;
          border: none;
          outline: none;
          color: white;
          position: relative;
          z-index: 1;

          &::after {
            content: '';
            top: 0;
            bottom: 0;
            left: 50%;
            right: 50%;
            opacity: 0;
            position: absolute;
            background: steelblue;
            transition: 0.5s all ease;
          }

          &:hover {
            box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.8);

            &::after {
              left: 0;
              right: 0;
              opacity: 1;
              z-index: -1;
              transition: 0.5s all ease;
            }
          }

          .facebookBtnText {
            width: 75%;
            z-index: 2;
          }

          .facebookBtnIconHolder {
            width: 25%;
            z-index: 2;

            img {
              height: 40px;
              padding: 5px 5px;
            }
          }
        }
      }

      .googleLoginContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        .googleBtnContainer {
          display: flex;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.2);
          width: 100%;
          cursor: pointer;
          border: none;
          outline: none;
          color: white;
          position: relative;
          z-index: 1;

          &::after {
            content: '';
            top: 0;
            bottom: 0;
            left: 50%;
            right: 50%;
            opacity: 0;
            position: absolute;
            background: steelblue;
            transition: 0.5s all ease;
          }

          &:hover {
            box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.8);

            &::after {
              left: 0;
              right: 0;
              opacity: 1;
              z-index: -1;
              transition: 0.5s all ease;
            }
          }

          .googleBtnText {
            width: 75%;
            z-index: 2;
          }

          .googleBtnIconHolder {
            width: 25%;

            img {
              height: 40px;
              padding: 5px 5px;
              z-index: 2;
            }
          }
        }
      }

    label{
      margin-top: 20px;
      color: white;
      margin: 14px 0;
      display: block;
      font-size: 22px;
      line-height: 1;
    }

    input{
      width: 100%;
      border: none;
      outline: none;
      font-size: 19px;
      padding: 10px;
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      letter-spacing: 1px;
    }

    .errorMsg {
      padding-top: 5px;
      color: red;
      font-size: 16px;
    }

    .btnContainer {
      width: 100%;
      padding: 24px 0;
          
      button {
        border: none;
        outline: none;
        width: 100%;
        padding: 15px 0;
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        background: #603bbb;
        cursor: pointer;

        &:hover {
          box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.8);
        }
      }

      span {
        color: yellow;
        width: 100%;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-left: 5px;
        cursor: pointer;
        transition: all 400ms ease-in-out;
        &:hover{
          color: red;
        }
      }

      p {
        margin: 14px 0 0 0;
        text-align: right;
        color: #fff;
      }
    }
  }
}