// keyframes

@keyframes shake {
    10%, 90% {
      transform: translateX(1px);
    }
    
    20%, 80% {
      transform: translateX(-2px);
    }
  
    30%, 50%, 70% {
      transform: translateX(3px);
    }
  
    40%, 60% {
      transform: translateX(-4px);
    }
  }
  
  @keyframes paintRed {
    0% {
      color: white;
      transform: rotateY(0deg);
    }
    50% {
      color: red;
    }
    100% {
      color: white;
      transform: rotateY(360deg);
    }
  }
  
  @keyframes circle {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }