@import './style-components/colors-and-layouts/colors-and-layouts.scss';

// Footer

footer {
    @include flex-centered;
    background-color: rgb(83, 32, 75);
    max-height: 12vh;
    gap: 20px;
  
    .logoHolder {
      @include flex-centered;
      height: 6vh;
  
      h4 {
        color: white;
        margin-right: 10px;
      }
    
      i {
        margin-right: 10px;
      }
    }
  
    .contact {
      color: white;
    }
  }
  
  @media only screen and (max-width: 650px) {
    footer{
      flex-direction: column;
      gap: 0px;
  
      .logoHolder {
        margin-top: 10px;
        text-align: center;
        margin-bottom: 5px;
      }
  
      .contact {
        margin-bottom: 15px;
      }
    }
  }